.keys{
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #fff, #e0e0e0);
    -fx-border-color: #000;
    -fx-border-radius: 8;
    -fx-font-size: 14px;
}

/* .keys:pressed{
    -fx-background-color: linear-gradient(#ddd, #bbb);
} */

.lightUp{
    -fx-background-color: #cfc100;
}

.paper-area {
    -fx-font-family: 'Courier New';
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-color: #000;
    -fx-border-width: 4px;
  }